@import "tailwindcss";

/* globals.css */

/* Tailwind's container equivalent with custom padding and centering */
.container {
  @apply mx-auto px-4 md:px-8; /* Tailwind utility classes for container */
}

/* Body font family setup */
body {
  font-family: var(--font-sans), sans-serif; /* Tailwind font family */
}

/* Custom breakpoints (Optional) */
@media (min-width: 375px) {
  /* Custom styles for small screens */
}

@media (min-width: 768px) {
  /* Custom styles for medium screens */
}

@media (min-width: 1200px) {
  /* Custom styles for large screens */
}


@layer base{
  .nav-item{
      @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300
  }

  .hero-ring{
    @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
  }
}